@import "layout.scss";
@import "icons.scss";
.shjo {
  &__flex {
    &-col {
      display: flex;
      flex-direction: column;
    }
    &-row {
      display: flex;
      flex-direction: row;
    }
  }
}
.gap5 {
  gap: 5px;
}
.gap10 {
  gap: 5px;
}

button {
  background: unset;
  padding-block: unset;
  padding-inline: unset;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;
}
